<!doctype html>
<html>
<head>
<title>Management &amp; Accounting Professionals, Inc (MAP) </title>
<meta name="description"
	content="Accounting Done Differently">
<meta name="keywords"
	content="accounting, accountant, management, loveland, ohio">
<meta http-equiv="author"
	content="Jill Griffin"> <!--jillgriffindesign.com-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" >
<link href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Crimson+Text:400,600,700' rel='stylesheet' type='text/css'>
<link href="boilerplate.css" type="text/css">
<link href="mapsite.css" rel="stylesheet" type="text/css">
<link rel="icon" href="images/favicon.png" type="image/x-icon">

<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript">

	jQuery(function($){

		var openMenu = function() {
			$('.responsive-menu').toggleClass('expand');
			$('#maincontainer').toggleClass('dim');
			setTimeout(function() {$('#maincontainer').on("click", closeMenu)}, 100);
		};

		var closeMenu = function() {
			$('.responsive-menu').toggleClass('expand');
			$('#maincontainer').toggleClass('dim');
			$('#maincontainer').off("click", closeMenu);
		};

		 $( '.menu-btn' ).click(function(){
			 openMenu();
		 });

		 $( '.closebutton' ).click(function(){
			 closeMenu();
		 });

		 $('#mobile-search-icon').click(function() {
			 $('.searcharea').toggleClass('mobile-search-expand');
			 $('#mobile-search-icon').toggleClass('mobile-search-button-hide');
			 $('.searchmobile').focus();
		 });

		 $('#logomobile').click(function() {
			 window.location.href = 'index.html';
		 });

		 $('#contactbtn').click(function() {
			 window.location.href = 'contact.html';
		 });

		 $('#resourcesbtn').click(function() {
			 window.location.href = 'resources.html';
		 });

		 $('#ourstorybtn').click(function() {
			 window.location.href = 'ourstory.html';
		 });

	});
</script>
</head>
<body>
        <div class="responsive-menu"><!--begin responsive menu-->
                    <div class="responsive-menu-close">
                        <div class="closebutton">
                        </div>
                        <ul class="responsive-menu-btns">
                            <li><a href="services.html">Services</a></li>
                            <li><a href="resources.html">Resources</a></li>
                            <li><a href="ourstory.html">Our Story</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="clientlogin.html">Client Login</a></li>
                        </ul>
                        <ul class="menu-contact">
                            <li class="menuphone"><a href="tel:5137749600">Phone: 513.774.9600</a></li>
                            <li class="menufax">Fax: 513.774.7820</li>
                            <li class="menuemail"><a href="mailto:pgross@mapaccounting.com?">pgross@mapaccounting.com</a></li>
                            <li class="menumail"> <a href="https://www.google.com/maps/place/411+W+Loveland+Ave,+Loveland,+OH+45140/@39.2686159,-84.2623978,17z/data=!3m1!4b1!4m2!3m1!1s0x8840f8ae8bfb01a5:0x95b2f75cf4e54549" target="_blank">411 W. Loveland Ave. #201<br>Loveland, OH 45140</a></li>
                        </ul>
                     </div>
                 </div><!--end responsive menu-->

	<div class="clearfix maincontainer">
    		<header><!--begin desktop header-->

            <div class="mobile-nav"><!--mobile menu-->
                      		<div class="menuarea">
                                <div id="logomobile">
                                </div>
                                <div id="mobile-search-icon">
                                </div>
                                <div class="mobile-search-close"><!--mobile search close-->
                                </div>
                                <div class="menu-btn" id="menu-btn">
                                </div>
                            </div>
                            <div class="searcharea">
																<form method="get" action="/search">
                                    <input type="text" name="q" class="searchmobile">
																		<input type="hidden" name="tag" value="mobile">
																</form>
                            </div>
                      </div><!--mobile menu-->

              	<div id="headerrow" class="rowcontainer">
                   <div id="logodesktop" class="clickable">
                   	<a href="index.html"></a>
                    </div>
                    <div class="headercontent"><!--begin header content-->

                        <ul class="rowcontainer titlecontainer">
                            <li><h4>Management & Accounting Professionals, Inc.</h4></li>
                            <li><a href="clientlogin.html"><h6>Client Login</h6></a></li>
                        </ul>
                        <ul class="rowcontainer contactcontainer">
                            <li class="desktopheaderphone"> <a href="#">513.774.9600</a></li>
                            <li class="desktopheaderemail"><a href="mailto:pgross@mapaccounting.com?">pgross@mapaccounting.com</a></li>
                            <li class="desktopheadermail"> <a href="https://www.google.com/maps/place/411+W+Loveland+Ave,+Loveland,+OH+45140/@39.2686159,-84.2623978,17z/data=!3m1!4b1!4m2!3m1!1s0x8840f8ae8bfb01a5:0x95b2f75cf4e54549" target="_blank">411 W. Loveland Ave. #201 <br>Loveland, OH 45140</a></li>
                            <li><form method="get" action="/search">
																    <input type="text" name="q" class="searchdesktop">
																    <input type="hidden" name="tag" value="desktop">
																</form></li>
                        </ul>
                            <nav id="nav" role="navigation">
                                <a href="#nav" title="Show navigation">Show navigation</a>
                                <a href="#" title="Hide navigation">Hide navigation</a>
                                <ul class="rowcontainer navcontainer">
                                  <li><a href="#" aria-haspopup="true">Services</a>
                                  	<ul>
                                    	<li class="clickable">
                                        	<a href="businessstructure.html"></a>
                                            <p>Business Structure</p>
                                        </li>
                                        <li class="clickable">
                                        	<a href="bookkeeping.html"></a>
                                        	<p>Bookkeeping</p>
                                        </li>
                                        <li class="clickable">
                                        	<a href="taxprep.html"></a>
                                            <p>Tax Preparation</p>
                                        </li>
                                        <li class="clickable">
                                        	<a href="payroll.html"></a>
                                        	<p>Payroll</p>
                                        </li>
                                        <li class="clickable">
                                        	<a href="businesscoaching.html"></a>
                                            <p>Business Coaching</p>
                                        </li>
                                    </ul>
                                    </li>
                                  <li id="resourcesbtn"><a href="resources.html">Resources</a></li>
                                  <li id="ourstorybtn"><a href="ourstory.html">Our Story</a></li>
                                  <li id="contactbtn"><a href="contact.html">Contact</a></li>
                                </ul>
                        </nav>
                    </div><!--end header content-->
                 </div><!-- end row container -->
              </header><!--end desktop header-->

                <section class="contentcontainer"><!--begin client login-->
                                <div id="clientloginpage" class="contentcolumn">
                                       <div class="contentheader">
                                                <h5>CLIENT LOGIN</h5>
                                       </div><!--end content header-->
                                        <ul>
                                            <li><input type="text" name="username" placeholder="username" class="loginbox"></li>
                                            <li><input type="text" name="password" placeholder="password" class="loginbox"></li>
                                        </ul>
                                    <div class="loginbutton">
                                   		<h8>Login</h8>
                                    </div>
                                    <div class="shortforgotpassword">
                                   		Forgot Password?
                                    </div>
								</div><!--end client login-->
                  </section><!--end content container-->

         	  <div class="footercontainer">
                   <p id="footertagline">Become Our Next Client!</p>
              <footer>
              		<ul class="footercontent">
                    	<li class="desktopfooterphone"><a href="tel:5137749600"><h3>Phone: 513.774.9600</h3></a></li>
                        <li class="desktopfooterfax"> <a href="tel:5137747820"><h3>Fax: 513.774.7820</h3></a></li>
                        <li class="desktopfooteremail"><a href="mailto:pgross@mapaccounting.com?"><h3>pgross@mapaccounting.com</h3></a></li>
                        <li class="desktopfootermail"> <a href="https://www.google.com/maps/place/411+W+Loveland+Ave,+Loveland,+OH+45140/@39.2686159,-84.2623978,17z/data=!3m1!4b1!4m2!3m1!1s0x8840f8ae8bfb01a5:0x95b2f75cf4e54549" target="_blank"><h3>411 W. Loveland Ave. #201</h3></a></li>
                    </ul>
                  <div class="rowcontainer subfooter">
                  <h2> © Copyright 2015 Management & Accounting Professionals, Inc. - MAP </h2>
                  </div>
	         </footer>
             </div> <!--footercontainer-->
</div>
</body>
</html>
