@charset "UTF-8";

img, object, embed, video {
	max-width: 100%;
}
.ie6 img {
	width:100%;
}
@font-face {
	font-family: 'EBGaramond';
	src:url(EBGaramond12-Regular.ttf);
}
@font-face {
	font-family: 'GaramondBold';
	src:url(Garamond%20Bold.ttf);
}
@font-face {
	font-family: 'Avenir';
	src:url(Avenir-Roman.otf);
}
@font-face {
	font-family: 'AvenirBold';
	src:url(AvenirNextLTPro-Bold.otf);
}
html, body	{
	margin:0;
}
html {
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	height: 100%;
}
input:focus	{
	outline: 0;	
}
.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}
.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;        
}
ul {
	list-style: none;
	padding:0;
}
a {
	text-decoration:none;
}
p	{
	font-family:'Avenir',san-serif;
	font-size:12px;
	font-color:#404040;
}
h2	{
	font-family:'Avenir', san-serif;
	font-weight:300;
	color:#8e79a4;
	font-size:10px;
}
h3	{
	font-family:'Avenir', san-serif;
	color:#ffffff;
	font-size:11px;
	font-weight:400;
}
h4	{
	font-family: 'EBGaramond', serif;
	font-weight:100px;
	font-size:20px;
	color: #ffffff;
	margin:0;
}
h5	{
	font-size:11px;
	font-weight:600;
	margin: 0;
}
h6	{
	font-family:'Avenir', san-serif;
	color:#cec5d6;
	font-weight:200;
	text-decoration:underline;
	margin:0;
	margin-top:4px;
	margin-left: 214px;
}
h9	{
	font-family:'GaramondBold', serif;
	font-size:17px;
	font-weight:900;
}
h10	{
	font-family: 'Avenir',san-serif;
 	font-size: 20px;
	font-weight: 500;
	color: #404040;
}
h11	{
	font-family:'Garamond', serif;
	font-size:30px;
	color: #684b1b;
}

/* Mobile Layout: 480px and below. */
  
.maincontainer {
	width:100%;
	position:relative;
	padding-bottom: 350px;
}
.gridContainer {
	width: 100%;
	clear: none;
	float: none;
}
.zeroMargin_mobile {
    margin-left: 0;
}
.hide_mobile {
    display: none;
}
.contactformscontainer	{
	display: -webkit-flex;
	display:flex;
	width:100%;
	-webkit-justify-content:center;
	justify-content:center;
	padding-top:60px;
}
.contactformslist	{
	width:100%;
	margin-left:20px;
	margin-right:20px;
}
#contactformsheader	{
	margin-bottom:20px;	
}
.shortcontactforms	{
	width:100%;
	height:30px;
	background-color:#dcdcdc;
	font-family:'Avenir', san-serif;
	color: #000;
	font-size:14px;
	padding-left:5px;
	margin-bottom:10px;
	outline:0;
	border-radius:0;
	border:0;
}
.tallcontactforms	{
	width:100%;
	height:200px;
	background-color:#dcdcdc;
	font-family:'Avenir', san-serif;
	color: #000;
	font-size:14px;
	padding-left:5px;
	padding-top:5px;
	margin-bottom:10px;
	outline:0;
	border-radius:0;
	border:0;
}
*::-webkit-input-placeholder {
    color: #959595;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #959595;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #959595;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #959595;
}
header  {
    min-height: 50px;
    background: #5c4279;
	border-bottom: #83c414 solid 6px;
	position:fixed;
	z-index: 1;
	width:100%;
}
#underHeader {
	height: 40px;
}
#logomobile	{
	background:url(images/mobilelogo.svg) no-repeat;
	position:absolute;
	margin-left:20px;
	margin-top:8px;
	height:36px;
	width:66px;
	cursor:pointer;
}
#mobile-search-icon	{
	background:url(images/searchicon.svg) no-repeat;
	position:absolute;
	right:0;
	margin-right:70px;
	margin-top:15px;
	width:22px;
	height:22px;
	cursor:pointer;
}
.mobile-nav {
	position:relative;
}
.mobile-search {
	display: none;
}
.searchmobile	{
	background-color:#ad3b8f;
	width:90%;
	height:24px;
	border: 0px;
	padding-left:10px;
	font-family:'Avenir', san-serif;
	font-size:14px;
	color:#ffffff;
}
.mobile-search-expand {
	display: block !important;
}
.mobile-search-button-hide {
	background:url(images/searchclose.png) no-repeat !important;
	width:20px;
}
.menu-btn	{
	background-image:url(images/hamburger.svg);
	position:absolute;
	top:15px;
	right:20px;
	width:22px;
	height:20px;
	cursor:pointer;
}
.menuarea {
	position: relative;
	height: 52px;
}
.searcharea {
	background-color:#ad3b8f;
	height: 30px;
	padding: 10px;
	width:100%;
	display: none;
}
.responsive-menu	{
	display: none;
	position:absolute;
	right:0;
	z-index:3;
	width:300px;
	background-color:#cec5d6;
}
.responsive-menu ul {
	margin-top: 10;
	margin-bottom: 0;
}
.responsive-menu li	{
	font-family:'Avenir', san-serif;
	font-size:18px;
	font-weight:600;
	color: #5c4279;
	text-align:center;
	line-height:60px;
}
.responsive-menu-btns li a:active	{
	color:#5c4279;
}
.responsive-menu-btns li a:link	{
	color:#5c4279;
}
.responsive-menu-btns li a:visited	{
	color:#5c4279;
}
.responsive-menu li:first-child	{
	margin-top:20px;
}
.responsive-menu-close	{
	position:relative;
}
.closebutton	{
	background-image:url(images/closeXbtn.svg);
	position:fixed;
	top:15px;
	right:20px;
	width:22px;
	height:20px;
	cursor:pointer;
}
.expand	{
	display: block !important;
}
.dim {
  position: relative;
}
.dim:after {
  content: " ";
  z-index: 2;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
.menu-contact	{
	background-color:#5c4279;
	padding-top:3px;
	padding-bottom:1000px;
}
.menu-contact li	{
	font-family:'Avenir', san-serif;
	font-size:14px;
	color:#fff;
	text-align:left;
	margin-left:30px !important;
}
.menu-contact a {
    color: #fff;
}
.menuphone	{
	background:url(images/desktopfooterphone.svg) no-repeat;
	background-size:20px;
	padding-left:40px;
	background-position:left center;
}
.menufax	{
	background:url(images/desktopfooterfax.svg) no-repeat;
	background-size:20px;
	padding-left:40px;
	background-position:left center;
}
.menuemail	{
	background:url(images/desktopfooteremail.svg) no-repeat;
	background-size:20px;
	padding-left:40px;
	background-position:left center;
}
.menumail	{
	background:url(images/desktopfootermail.svg) no-repeat;
	background-size:20px;
	padding-left:40px;
	background-position:left center;
	line-height:20px !important;
	margin-top: 10px;
}
#hero #desktophero {
	display:none;
}
/* welcome */
.welcome	{
	font-family:'EBGaramond', san-serif;
	font-size:38px;
	color:#5c4279;
	text-align:center;
	padding-bottom: 0px;
}
.welcomeparagraph	{
	font-family:'Avenir', san-serif;
	font-size:16px;
	font-color:#404040;
	text-align:left;
	line-height:1.6;
	margin-top:4px;
}
#tagline	{
	text-align:center;
	padding-top:8px;
	padding-bottom:10px;
}
.intro	{
	color:#404040;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 30px;
	padding: 0;
}
#pathscolumn {
	width: 90%;
}
.pathlinks	{	
	display: flex;
	display: -webkit-flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	font-family:'Avenir', san-serif;
	font-size:16px;
	font-weight:500;
	background-position:inherit;
	background-size:auto;
}
.pathlinks li {
	padding-top:12px;
	padding-bottom:12px;
	padding-left:40px;
	max-height:18px;
	text-align:left center;
}
.pathlinks .desktoppathlink {
	display: none;
}
.pathsbusinessstructure {
	background:url(images/desktopbusinessstructure.svg) no-repeat;
	background-size:20px;
	background-position:left center;
}
.pathsbookkeeping {
	background:url(images/desktopbookkeeping.svg) no-repeat;
	background-size:20px;
	background-position:left center;
}
.pathstaxprep {
	background:url(images/desktoptaxprep.svg) no-repeat;
	background-size:20px;
	background-position:left center;
}
.pathspayroll {
	background:url(images/desktoppayroll.svg) no-repeat;
	background-size:20px;
	background-position:left center;
}
.pathsbusinesscoach {
	background:url(images/desktopbusinesscoach.svg) no-repeat;
	background-size:20px;
	background-position:left center;
}
/*Mobile Services Page Anchors*/
#bookkeeping {
	margin-top: -40px;
	padding-top: 40px;
}
#businessstructure {
	margin-top: -40px;
	padding-top: 40px;
}
#taxprep {
	margin-top: -40px;
	padding-top: 40px;
}
#payroll {
	margin-top: -40px;
	padding-top: 40px;
}
#businesscoaching {
	margin-top: -40px;
	padding-top: 40px;
}
/* unvisited link */
.pathlinks a:link {
    color: #404040;
}
/* visited link */
.pathlinks a:visited {
    color: #404040;
}
/* mouse over link */
.pathlinks a:hover {
    color: #ad3b8f;
}
.contentcontainer {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction:column;
	flex-direction:column;
	-webkit-justify-content:center;
	justify-content:center;
	padding-top:80px;
	margin-bottom: 10px;
}
#frontpagecontainer {
	padding-top: 30px;
}
.contentcolumn {
	display: block;
	-webkit-flex-direction:column;
	flex-direction:column;
	margin-left: 20px;
}
.contentheader	{
	font-family:'AvenirBold', san-serif;
	color:#565656;
	border-bottom: 1px solid #b9b9b9;
	padding-bottom:2px;
}
#clientlogin	{
	width: 90%;
	margin-top:20px;
}
#clientlogin ul li:first-child {
	margin-bottom: 15px;
}
#clientloginpage	{
	margin-top: 40px;
	margin-bottom:80px;
}
#clientloginpage ul li:first-child {
	margin-bottom: 10px;
}
  .loginbox	{
	width:94%;
	height:36px;
	background-color:#dcdcdc;
	font-family:'Avenir', san-serif;
	color: #000;
	font-size:14px;
	padding-left:5px;
	border-radius:0;
	border:0;
}
.loginbutton	{
	font-family:'Avenir', san-serif;
	color:#ffffff;
	font-size:12px;
	font-weight:600;
	line-height:2.3;
	background-color:#ad3b8f;
	margin-top:20px;
	border-radius:3px;
	height: 30px;
	text-align:center;
	padding-top:2px;
	width:70px;
	margin-bottom:8px;
}
.forgotpassword	{
	font-family:'Avenir', san-serif;
	font-size:14px;
	color:#b9b9b9;
	float:left;
	margin-bottom:20px;
}
.shortforgotpassword	{
	font-family:'Avenir', san-serif;
	font-size:11px;
	color:#b9b9b9;
	float:left;
	margin-top:-35px;
}
.footercontainer {
	position: absolute;
	left: 0;
	right: 0;
	bottom:0;
}
#footertagline	{
	display:block;
	margin-bottom:-6px;
	margin-left:5%;
	padding: 0px;
	font-size:24px;
	color:#959595;
}
footer  {
    min-height: 100px;
    background: #5c4279;
	padding-top:10px;
	border-top: #83c414 solid 8px;
}
.desktopfooterphone	{
	background:url(images/desktopfooterphone.svg) no-repeat;
	background-position:left center;
	background-size:20px;
}
.desktopfooterfax	{
	background:url(images/desktopfooterfax.svg) no-repeat;
	background-position:left center;	
	background-size:20px;
}
.desktopfooteremail		{
	background:url(images/desktopfooteremail.svg) no-repeat;
	background-position:left center;
	background-size:20px;
}
.desktopfootermail	{
	background:url(images/desktopfootermail.svg) no-repeat;
	background-position:left center;
	background-size:20px;
}
.footercontent	{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction:column;
	flex-direction:column;
	-webkit-justify-content:left;
	justify-content:left;
	align-items:left;
	margin-left:10px;
	padding-top:0px;
}
.footercontent li	{
	margin-bottom:10px;
	padding-left:40px;
	margin-left:18px;
}
.subfooter	{
	background-color:#46325c;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5%;
}

/* mobile services page */

.mobile-services-container	{
	width:90%;
	margin-bottom:20px;
}
.mobile-business-structure	{
	background:url(images/businessstructureicon.svg) left no-repeat;
	background-size:30px;
	padding-top:19px;
	padding-left:40px;
	margin-top:30px;
	margin-bottom:8px;
	border-bottom: 1px solid #b9b9b9;
	padding-bottom:2px;
}
.mobile-bookkeeping	{
	background:url(images/bookeepingicon.svg) left no-repeat;
	background-size:30px;
	padding-top:19px;
	padding-left:40px;
	margin-top:20px;
	margin-bottom:8px;
	border-bottom: 1px solid #b9b9b9;
	padding-bottom:2px;
}
.mobile-taxprep	{
	background:url(images/taxpreparationicon.svg) left no-repeat;
	background-size:30px;
	padding-top:19px;
	padding-left:40px;
	margin-top:20px;
	margin-bottom:8px;
	border-bottom: 1px solid #b9b9b9;
	padding-bottom:2px;
}
.mobile-payroll	{
	background:url(images/payrollicon.svg) left no-repeat;
	background-size:30px;
	padding-top:19px;
	padding-left:40px;
	margin-top:20px;
	margin-bottom:8px;
	border-bottom: 1px solid #b9b9b9;
	padding-bottom:2px;
}
.mobile-business-coaching	{
	background:url(images/businesscoachingicon.svg) left no-repeat;
	background-size:30px;
	padding-top:19px;
	padding-left:40px;
	margin-top:20px;
	margin-bottom:8px;
	border-bottom: 1px solid #b9b9b9;
	padding-bottom:2px;
}
.ServicesHeader	{
	font-family:'Avenir',san-serif;
	font-size:20px;
	font-weight:500;
	color:#404040;
	padding-bottom: 5px;
}
.ServicesSubHeader	{
	font-family:'Avenir', san-serif;
	font-weight:600;
	max-width:440px;
	font-size:15px;
	color:#684b1b;
}
.ServicesCopy	{
	font-family:'Avenir',san-serif;
	font-size:14px;
	line-height:1.5;
}
.ServicesBullets	{
	font-family:'Avenir',san-serif;
	font-size:14px;
	list-style:outside;
	padding-left:16px;
	line-height:1.5;
}

/* Our Story Page */

.storiescontainer {
	margin-right:20px;
	margin-left:20px;
	margin-bottom:40px;
}
.storyimage {
	margin-bottom: 4px;
}
.storyheader	{
	font-family:'Avenir',san-serif;
	font-size:18px;
	font-weight:500;
	margin-top:10px;
	color:#404040;
}
.storycopy	{
	font-family:'Avenir',san-serif;
	font-size:14px;
	line-height:1.5;
	margin-bottom:20px;
}
.RightSidebar {
	display:none;
}

/* Resources Page */

.resourcescontainer {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items:flex-start;
	align-items:flex-start;
	-webkit-justify-content:center;
	justify-content: center;
	margin-bottom:10px;
	-webkit-flex-direction: column;
	flex-direction: column;
	padding-top: 60px;
	margin-right:20px;
	margin-left:20px;
}
.resourcecopy	{
	font-family:'Avenir',san-serif;
	font-size:14px;
	line-height:2;
	margin-top:10px;
}
/* Search Results */
.searchcontainer {
	margin-left:20px;
	margin-right:20px;
	justify-content:center;
	margin-bottom: 40px;
}
.searchurl {
	font-family:'Avenir', san-serif;
}
.searchurl a:link {
	color:#ad3b8f;
}
.searchurl a:visited {
	color:#5c4279;
}

/* Thank You */
#thankyoumessage {
	margin-top:20px;
	margin-bottom:300px;
}

/* Tablet Layout: 481px to 803px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {

.gridContainer {
	width: 100%;
	clear: none;
	float: none;
}
.welcomeparagraph	{
	text-align:left;
	font-size:14px;
	line-height:1.6;
}
.zeroMargin_tablet {
    margin-left: 0;
}
.hide_tablet {
    display: none;
}
.contactformslist	{
	margin-left: 20px;
}
#clientlogin {
	width:40%;
}
#pathscolumn {
	width:40%;
}
.resourcescontainer {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content:center;
	justify-content:center;
	-webkit-align-items:flex-start;
	align-items:flex-start;
	padding-top:60px;
	margin-bottom:10px;
}
.resourcescontainerleft {
	min-width: 40%;
}
.resourcesmiddlecontainer {
	min-width: 10%;
}
.resourcescontainerright {
	min-width: 40%;
}
}

@media only screen and (min-width: 481px) and (max-width: 803px) {
.contentcontainer {
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-around;	
	justify-content: space-around;	
	-webkit-align-items: baseline;
	align-items: baseline;
}
}

@media only screen and (max-width: 803px) {
#headerrow {
	display:none;	
}
.contentcolumn {
	-webkit-order: 2;
	order: 2;
}
.intro {
	-webkit-order: 1;
	order: 1;
}
#clientlogin {
	-webkit-order: 3;
	order: 3;
}
.footercontent h3 {
	font-size:14px;
}
.forgotpassword {
	margin-top:30px;
}
.shortforgotpassword {
	margin-top:20px;
}
input[type="text"], input[type="number"], textarea {
	font-size: 16px;
}
}
/* Desktop Layout: 804px to a max of 1365px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 804px) {

.maincontainer {
	padding-bottom: 200px;
}
.gridContainer {
	width: 100%;
	clear: none;
	float: none;
}
.zeroMargin_desktop {
    margin-left: 0;
}
.hide_desktop {
    display: none;
}
#logomobile	{
	display: none;
}
.mobile-nav	{
	display: none;
}
.responsive-menu	{
	display:none;
}
.contactformscontainer	{
	padding-top:170px;
}
.contactformslist	{
	max-width:804px;
	-webkit-justify-content:center;
	justify-content:center;
}
.shortcontactforms	{
	font-size:12px;
	width:500px;
}
.tallcontactforms	{
	font-size:12px;
	width:500px;
}
header  {
    min-height: 150px;
    background: #5c4279;
	border-bottom: #83c414 solid 8px;
	position:fixed;
	z-index: 1;
	width:100%;
}
.rowcontainer	{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: left;
	align-items: left;
}
#headerrow {
	-webkit-align-items:center;
	align-items: stretch;
	-webkit-justify-content: center;
	justify-content: center;
}
.headercontent	{
    margin-left: 50px;
}
#logodesktop	{
	background-image:url(images/desktoplogo.svg);
	width:124px;
	height:116px;
	margin-top: 17px;
	-webkit-flex: none;
	flex: none;
}
#logodesktop:hover {
	background-image:url(images/desktoplogo_hover.svg);
}
.clickable {
	position: relative;
}
.clickable a {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	text-decoration:none; /* Makes sure the link   doesn't get underlined */
	z-index:10; /* raises anchor tag above everything else in div */
	background-color:white; /*workaround to make clickable in IE */
	opacity: 0; /*workaround to make clickable in IE */
	filter: alpha(opacity=1); /*workaround to make clickable in IE */ 
}
.clickable p {
}
.titlecontainer	{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
}
#nav	{
	/*container*/
}
	#nav > a
	{
		display:none;
	}
	#nav li	{
		position:relative;
	}
	
	/*second level*/
	#nav li ul	{
		display: none;
		position: absolute;
		left: 0px;
		width: 100%;
		padding-top:5px;
		padding-bottom:5px;
		background-color: #ffffff;
		color:#ffffff;
	}
		#nav li:hover ul	{
			display:block;
		}
	
	#nav li ul li {
		font-size:13px;
		font-weight: 500;
		padding-left: 0;
		padding-right: 0;
		width: 100%;
		background-color:#ffffff;
	}
	
	#nav li ul li:hover {
		background-color:#565656;
	}
	
	#nav li ul li a {
		margin-left: 12px;
		color:#565656;
	}
	
	#nav li ul li:hover a {
		color:#ffffff;
	}
	
	#nav li ul li p {
		font-size:13px;
		margin: 2px;
		margin-left: 12px;
		color:#565656;
	}
	
	#nav li ul li:hover p {
		color:#ffffff;
	}
	
.navcontainer li {
	margin-right: 5px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color:#cec5d6;
	font-family: 'Avenir', san-serif;
	font-size:13px;
	font-weight:800;
}
.navcontainer li:hover {
    color: #5C4279;
	background-color:#FFFFFF;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:50px;
	padding-right:50px;
}

/* unvisited link */
.navcontainer a:link {
    color: #5C4279;
}
/* mouse over link */
.navcontainer a:hover {
}
/* selected link */
.navcontainer a:active {
    color: #ffffff;
}
/* visited link */
.navcontainer a:visited {
    color: #5C4279;
}
.selectednav {
	background-color: #ffffff !important;
}
.contactcontainer	{
	padding-top:5px;
}
.contactcontainer li {
	font-family: 'Avenir', san-serif;
	font-size:12px;
	font-weight:400;
}
.contactcontainer a:link {
	color:#cec5d6;
}
.contactcontainer a:visited {
	color:#cec5d6;
}
.contactcontainer a:hover {
	color:#ffffff;
}
.desktopheaderphone	{
	background:url(images/desktopfooterphone.svg) left center no-repeat;
	background-size:16px;
	background-position: inherit;
	padding-left: 22px;
	margin-right:18px;
}
.desktopheaderemail	{
	background:url(images/desktopfooteremail.svg) left center no-repeat;
	background-position: inherit;
	background-size:16px;
	padding-left: 22px;
	margin-right:18px;
}
.desktopheadermail	{
	background:url(images/desktopfootermail.svg) left center no-repeat;
	background-position: inherit;
	background-size:16px;
	padding-left: 25px;
	margin-right:18px;
}
.searchdesktop	{
	width:118px;
	height:22px;
	background:url(images/searchicon.svg) right no-repeat;
	background-size:12px;
	background-color:#ad3b8f;
	background-position: 93% 50%;
	border: 0px;
	border-radius:30px;
	padding-left:8px;
	font-family:'Avenir', san-serif;
	font-size:12px;
	color:#ffffff;
}
input:focus	{
	outline: 0;	
}
input[type=text]	{
	
}
.searchdesktop:hover	{
	background-color:#db6ac4;
}
#underHeader {
	height:120px;
}
#structureUnderHeader {
	height:240px;
}
#hero #desktophero {
	display: block;
	width:100%;
}
#hero #mobilehero {
	display: none;
}
.contentcontainer {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items:flex-start;
	align-items:flex-start;
	-webkit-justify-content:center;
	justify-content:center;
	-webkit-flex-direction: row;
	flex-direction: row;
	padding-top:150px;
	margin-bottom:0;
}
.contentcolumn {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}
.contentheader	{
	font-family:'AvenirBold', san-serif;
	margin-left:0px;
	color:#565656;
}
#homedivider	{
	border-bottom: 1px solid #b9b9b9;
	margin-left:0px;
	padding-top:2px;
	width: 100%;
}
#pathscolumn {
	width: 138px;
}
.pathlinks	{	
	display: flex;
	display: -webkit-flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	margin: 0;
	font-family:'Avenir', san-serif;
	font-size:11px;
	background-position:inherit;
	background-size:auto;
}
.pathlinks li {
	padding-top:10px;
	padding-bottom:10px;
	padding-left:26px;
	max-height:18px;
	text-align:left center;
}

.pathlinks .desktoppathlink {
	display: block;
}
.pathlinks .mobilepathlink {
	display: none;
}

.pathsbusinessstructure {
	background:url(images/desktopbusinessstructure.svg) no-repeat;
	background-size:18px;
	background-position:left center;
}
.pathsbookkeeping {
	background:url(images/desktopbookkeeping.svg) no-repeat;
	background-size:18px;
	background-position:left center;
}
.pathstaxprep {
	background:url(images/desktoptaxprep.svg) no-repeat;
	background-size:18px;
	background-position:left center;
}
.pathspayroll {
	background:url(images/desktoppayroll.svg) no-repeat;
	background-size:18px;
	background-position:left center;

}
.pathsbusinesscoach {
	background:url(images/desktopbusinesscoach.svg) no-repeat;
	background-size:18px;
	background-position:left center;
}
/* unvisited link */
.pathlinks a:link {
    color: #404040;
}
/* visited link */
.pathlinks a:visited {
    color: #404040;
}
/* mouse over link */
.pathlinks a:hover {
    color: #ad3b8f;
}

/* welcome */
.welcome	{
	text-align:center;
	padding-bottom: 0px;
}
.welcomeparagraph {
	font-size:12px;
	margin-top:0;
}
#tagline	{
	text-align:center;
	padding-top:4px;
	padding-bottom:10px;
}
.intro	{
	max-width: 420px;
	margin-right: 30px;
	margin-left: 42px;
	padding: 0;
}
#clientlogin	{
	width:138px;
	margin-top: 0px;
}
#clientlogin ul li:first-child {
	margin-bottom: 10px;
}
#clientloginpage	{
	margin-top: 60px;
	margin-bottom:160px;
}
#clientloginpage ul li:first-child {
	margin-bottom: 10px;
}
.loginbox	{
	font-size:12px;
	width: 132px;
	height:22px;
	margin-left:0px;
	margin-right:0px;
	padding-left:5px;
}
.loginbutton	{
	font-size:10px;
	text-align:center;
	line-height:2.2;
	height:24px;
	width:50px;
	margin-left:0px;
	margin-top:5px;
	margin-bottom:29px;
}
.forgotpassword	{
	font-size:11px;
	margin-left:0px;
	margin-top:3px;
}
.shortforgotpassword	{
	margin-left:0px;
	margin-top: -10px;
}
#footertagline	{
	display:block;
	margin-top:0px;
	bottom: 137px;
	margin-left:15%;
	padding: 0px;
	font-size:24px;
	color:#959595;
}
footer  {
    min-height: 100px;
    background: #5c4279;
	border-top: #83c414 solid 8px;
}
.footercontent	{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content:center;
	justify-content:center;
	-webkit-align-items:center;
	align-items:center;
	padding-top:12px;
}
.footercontent li	{
	-webkit-align-items:center;
	align-items:center;
	padding-top:20px;
	padding-right:40px;
	padding-left:40px;
	margin-left:18px;
	margin-right:18px;
	background-position-y:inherit;
}
.desktopfooterphone	{
	background:url(images/desktopfooterphone.svg) no-repeat center;
	background-size:20px;
}
.desktopfooterfax	{
	background:url(images/desktopfooterfax.svg) no-repeat center;	
	background-size:20px;
}
.desktopfooteremail		{
	background:url(images/desktopfooteremail.svg) no-repeat center;
	background-size:20px;
}
.desktopfootermail	{
	background:url(images/desktopfootermail.svg) no-repeat center;
	background-size:20px;
}
.subfooter	{
	background-color:#46325c;
	height:30px;
	padding-left:15%;
}

	/*Services Pages*/

#structureUnderHeaderSecondary {
	height:40px;
}
#steppingstones	{
	background:url(images/steppingstonesnative.png);
	width: 280px;
	height: 404px;
	position:relative;
	margin-top:28px;
	margin-bottom: 50px;
}
#steppingstones div	{
	position: absolute;
	background-repeat: no-repeat;
}
#steppingstones div#steppingstonebusinessstructure {
	width: 200px;
	height: 100px;
	right: 76px;
	top: 294px;
}
#steppingstones div#steppingstonebusinessstructure:hover	{
	background-image:url('images/steppingstone_businesssstructure.png');
	background-size: 130px 72px;
	background-position: 36px 10px;
}
#steppingstones div#steppingstonebookkeeping {
	width: 150px;
	height: 70px;
	right: 118px;
	top: 202px;
}
#steppingstones div#steppingstonebookkeeping:hover	{
	background-image:url('images/steppingstone_bookkeeping.png');
	background-size: 98px 46px;
	background-position: 24px 13px;
}
#steppingstones div#steppingstonetaxprep {
	width: 143px;
	height: 51px;
	right: 85px;
	top: 143px;
}
#steppingstones div#steppingstonetaxprep:hover	{
	background-image:url(images/steppingstone_taxprep.png);
	background-size: 105px 35px;
	background-position: 10px 6px;
}
#steppingstones div#steppingstonepayroll {
	width: 110px;
	height: 35px;
	right: 36px;
	top: 110px;
}
#steppingstones div#steppingstonepayroll:hover	{
	background-image:url('images/steppingstone_payroll.png');
	background-size: 89px 30px;
	background-position: 11px 0px;
}
#steppingstones div#steppingstonebusinesscoaching {
	width: 80px;
	height: 60px;
	right: -30px;
	top: 83px;
}
#steppingstones div#steppingstonebusinesscoaching:hover	{
	background-image: url('images/steppingstone_businesscoaching.png');
	background-size: 60px 60px;
	background-position: 18px 0px;
}
.ServicesIcon	{
	width:26px;
	padding-top:3px;
	margin-left:44px;
}
.ServicesContentContainer	{
	margin-top: -8px;	
	margin-left: 10px;	
}
.ServicesCopy	{
	max-width:440px;
}

/*Our Story Page*/

.storiescontainer {
	margin-top:40px;
	margin-left:0px;
	max-width:600px;
	-webkit-justify-content:center;
	justify-content:center;
	margin-right:20px;
}
.storyimage {
	width:600px;
}
.storyheader {
}
.RightSidebar {
	margin-top:40px;
	display:block;
}

/*Resources Page*/

.resourcescontainer {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content:center;
	justify-content:center;
	-webkit-align-items:flex-start;
	align-items:flex-start;
	padding-top:160px;
	margin-bottom:10px;
}
.resourcescontainerleft {
	min-width:400px;
}
.resourcesmiddlecontainer {
	min-width: 0;
}
.resourcescontainerright {
	min-width:400px;
}
.resourcecopy {
}

/*Search Results*/
.searchcontainer {
	margin-left:0px;
	margin-right:0px;
	max-width:804px;
	-webkit-justify-content:center;
	justify-content:center;
	padding-top:40px;
	margin-bottom: 40px;
}
}

@media only screen and (min-width: 1366px) {
	#underHeader {
		height: 0;
	}
	
	#structureUnderHeader {
		height: 240px;
	}
}